/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-jun-2018, 11:31:46
    Author     : toon1
*/

.webTitle
{
    font-size: 3em;
    color: blue;
}